.our-coffee {
    background: url(../../images/backgrounds/our_coffee_bg.jpg) no-repeat center center / cover;
    padding: 30px 150px 85px;
    color: #fff;
    &__title {
        margin-top: 60px;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
    }
}