.coffee {
    &__list {
        width: 800px;
        margin: 0 auto;
    }
    &__miss {
        margin: 150px 0 100px;
        font-size: 25px;
        text-align: center;
    }
    &__choice {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 255px);
        gap: 60px 30px;
    }
}